<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css'/>
	<script src="/node_modules/angular/angular.js"></script>
	<script src='/app.js'></script>
</head>
<!-- bootstrap angular module 'app' -->
<body ng-app='app'>
	<div class="container">
    	<h1>Todo List</h1>

    	<div ng-controller='MessageCtrl'>
    		<div class='panel panel-default' ng-if='message'>
    			<div class='panel-heading'>
    				Message
    			</div>
    			<div class='panel-body'>
    				{{ message }}
    			</div>
    		</div>
    	</div>

    	<div ng-controller="TodoCtrl">
    		<div class='well'>
    			<div class='form-group'>
    			<!-- ng-model dynamically put data from an input on the $scope -->
    				<input class='form-control' ng-model='name'/>
    			</div>
    			<!-- if ng-model is empty, diable the button -->
    			<button ng-disabled='!name' class='btn btn-primary' ng-click='create()'>Create Todo</button>
    		</div>
    		<ul class='list-group'>
	    		<li ng-repeat='todo in todos' class='list-group-item'>
	 				{{ todo.name }} {{ todo.id }}
	 				<button ng-click='destroy(todo.id)' class='btn btn-danger pull-right'>Remove</button>
	 				<br clear='all'/>
	    		</li>
    		</ul>
    	</div>	
	</div>
</body>
</html>