{% extends './layout.html' %}
{% block main %}
	<h2>{{ title }}</h2>
	<form method='POST' action='/department/newEmployee/{{defaultDept.id}}'>
		<div class='form-group'>
			<label> Create Employee </label>
			<input class='form-control' name="employee_name">
		</div>
		<button type='submit' class='btn btn-primary'> Create Employee </button>
	</form>
	<div class='well'>
		<h4>Default Department : {{ defaultDept.name }}</h4>
		<form method="POST" action='/department/update'>
			{% for department in deptsInfo %}
			<div class='radio'>
				<label class='radio-inline'>
					<input type='radio' name='departmentId' value={{ department.id }}>
						{{ department.name }}	
				</label>
			</div>	
			{% endfor %}
			<br>
			<button type="submit" class='btn btn-primary' >Make Default</button>
		</form>
	</div>
	<div>
		<ul class='list-group'>
		{% for customer in customerInfo %}
		{% if customer.departmentId === defaultDept.id %}
			<li class='list-group-item'>
				{{ customer.name }} 
				<form method='POST' action='/department/delete/{{ customer.id }}?_method=DELETE'>
					<button type='submit' class='btn btn-danger'>Delete</button>
				</form >
				<form method='POST' action='/department/makeCustomer/{{ customer.id }}?_method=PUT'>
					<button type='submit' class='btn btn-default'>Make Customer</button>
				</form >				
			</li>
		{% endif %}	
		{% endfor %}
		</ul>
	</div>
{% endblock %}